{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h2>Steps to improve</h2><hr><br>
            <ol class='list-group'>
                {% for step in steps %}
                    <li class="list-group">{{ step.name }}</li>
                {% endfor %}
            </ol>
            <hr><br>
            <h2>Helpful Info</h2>
            {% for info in helpful_info %}
                <p>{{ info.name }}</p>
            {% endfor %}
            <button data-toggle="modal" data-target="#confirmContact" type="submit" class="btn btn-primary">Contact</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>

    <div id="confirmContact" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Are you sure you would like to contact a medical professional?</h4>
                    </div>
                    <form method="post" action="/new_topic">
                        <div class="modal-body">
                            <div class="modal-body">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="contactConfirmation" type="submit" class="btn btn-primary">Contact</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                  </form>
                </div>

              </div>
            </div>


    <script>
        $(function () {
            $('#contactConfirmation').on('click', function () {
                alert('Okay, contacting a professional now.')
                // $.ajax({
                //     type: 'POST',
                //     url: '/rate_day/' + val + ''
                // })
            })
        })
    </script>
{% endblock %}
