{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <h3>Good to see you, {{ user.first_name }}</h3>

        <div class = "contianer">

          <div class = "row">

          <div class = "col-sm-3">
            <div class="jumbotron">
              <h3>Evan Gutman</h3>
                <br>
              <a href = '/profile'>
                <img src = "../images/bird.png" >
              </a>
              <br>

            </div>
          </div>

          <div class = "col-sm-9">



        {% if user.user_role == 'patient' %}
            {% include 'index_patient.html' %}
        {% elif user.user_role == 'therapist' %}
            {% include 'index_therapist.html' %}
        {% endif %}


          </div>



      </div>

      </div>

        </div>


{% endblock %}
