{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <div class="jumbotron">
            <h3>Yo yo yo, whats up</h3>
        </div>


    </div>
{% endblock %}
