{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://rawgit.com/g1eb/calendar-heatmap/master/dist/calendar-heatmap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://rawgit.com/g1eb/calendar-heatmap/master/dist/calendar-heatmap.min.js"></script>



<h2>Profile Page</h2>

<div class = "container">

    <div class="jumbotron">

      <div class = "row">
              <div class = "col-sm-3">
                  <br>
                  <br>
                <img  src="/bird.png" ></img>
                  <br>
                  <br>
                  <strong>{{user.first_name}} {{user.last_name}}</strong>

              </div>


              <div class = "col-sm-3">

                <div class = 'container'>
                    <div contenteditable = "true">{{user.email}}</div>
                    <div class = 'overlay'>
                        <span class = "glyphicon glyphicon-pencil"></span>
                    </div>
                </div>
              </div>

              <div class = "col-sm-3">
                <div contenteditable = "true">{{user.phone}}</div>
                <br>
              </div>
      </div>

    </div>
</div>

<div class = "container">

  <div id = "heatchart" class="jumbotron">

    <svg>

                  <script>
                      var example_data = [{
                          "date": "2018-03-20",
                          "total": 5,
                          "details": [{
                           "name": "Take medication",
                           "date": "2018-03-20 12:30:45",
                           "value": 0
                          }, {
                           "name": "Eat 3 meals",
                           "date": "2018-03-20 13:37:00",
                           "value": 0
                          }, {
                           "name": "Talk with family",
                           "date": "2018-03-20 17:52:41",
                           "value": 0
                          }]
                      }]

                    //#C0C0C0
                    //#cd2327
                    calendarHeatmap.init(example_data, '#C0C0C0', 'year');


                  </script>

      </svg>
  </div>
</div>




{% endblock %}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 10%;
  height: 10%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}


.container:hover .overlay {
  transform: scale(1)
}


.button {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
